@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  margin: 0;
  box-sizing: border-box;
  /* background-color: rgba(59, 57, 57, 0.155); */
}


/* Navbar */

.navbar {
  padding: 10px;
  margin: 10px;
  font-weight: 500;
  background: #fa5b0f;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.151);
}

.navbar-brand {
  font-family: "poppins";
  font-weight: 700;
  color: white;
}

.navbar-brand:hover {
  color: white;
}

.navbar-toggler {
  border: 1px solid white;
}

.navbar-toggler-icon {
  background-image: url(./Media/white-menu.png);
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 2.5px white;
}

.nav-link {
  transition: all 0.3s ease-in-out;
  color: white;
}

.nav-link:hover {
  padding-left: 5px;
  color: white;
}


/* Footer */

.footer {
  background: rgba(36, 34, 34, 0.893);
  font-family: "poppins";
}

.description h4 {
  text-align: center;
  margin: 0;
  padding: 10px 0;
  font-weight: 600;
  color: white;
}

.description p {
  padding: 0 15px;
  margin: 0;
  color: white;
  text-align: center;
}

.links {
  padding: 0 15px 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: white;
}

.links h4 {
  margin: 20px 0;
  font-weight: 600;
  color: white;
}

.useful-links span,
.contact-links div {
  display: flex;
  flex-direction: column;
}

.useful-links a {
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
}

.useful-links a:hover {
  text-decoration: underline;
  color: white;
}

.contact-links span {
  margin-bottom: 15px;
}

.contact-links svg {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}


/* Register panel */

.outer{
    height: 100vh;
    background-image: url("./Media/360_F_266004248_brGaUW8cSWcQBDt1NJshxSjHxBqTMUMo.jpg");
    background-size: cover;
    /* background-color: rgba(36, 34, 34, 0.893); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner{
    width: 500px;
    height: 600px;
    background-color: #ffffff16;
    backdrop-filter: blur(10px);
    box-sizing: border-box;
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    padding: 50px;
}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fa5b0f;
    font-size: 35px;
    text-shadow: 5px 5px 10px black ;
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
}

.input{
    width: 100%;
    height: 50px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    background-color: transparent;
    box-sizing: border-box;
    border: none;
    border-bottom: 3px #fa5b0f solid;
    padding-left: 10px;
    transition: .2s ease-in-out;
    color: white;
}

.input:focus{
    outline: none;
    border: 3px #fa5b0f solid;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding-left: 20px;
}

.input::placeholder{
    font-size: 20px;
    color: white;
}

option{
  color: black;
}

button{
    width: 120px;
    height: 50px;
    background-color: #fa5b0f;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    margin-top: 20px;
    color: white;
    cursor: pointer;
    box-shadow: 0 0 15px black;
}